//
// Cartouche
// Author: Stéphane Bouvry <stephane.bouvry@unicaen.fr>
// ---

@mixin cartouche-addon($color){
  background-color: $color;
  color: lighten($color, 40%);
  border-color: darken($color, 15%);
  .addon {
    color: darken($color, 25%);
    background-color: lighten($color, 30%);
    &:before {
      background-color: lighten($color, 30%);;
    }
  }
}


.cartouche {
  @include border-radius($cartoucheBorderRadius);
  @include cartouche-addon($colorDefault);
  display: inline-block;

  padding: 0 $cartouchePadding 0 $cartouchePadding;
  margin: .125em 0;
  line-height: 1.5em;
  font-size: 1em;

  text-shadow: -1px 1px 1px rgba(0,0,0,.5);
  font-weight: 100;

  @include cartouche-addon(lighten($grey,15%));

  .addon {
    position: relative;
    display: inline-block;
    z-index: 2;
    margin-left: $cartouchePadding/4;
    padding-left: $cartouchePadding/4*3;
    padding-right: $cartouchePadding;
    font-weight: 100;
    right: -$cartouchePadding;
    @include border-radius(0 $cartoucheBorderRadius $cartoucheBorderRadius 0);

    &:before {
      content: '.';
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: .5em;
      left: -.35em;
      width: .7em;
      height: .7em;
      position: absolute;
      display: block;
      z-index: 0;
      text-indent: -50px;
      overflow: hidden;
    }
  }

  &.bordered {
    border: solid thin lighten($colorDefault,40%);
  }


  &.leader,&.blue {
    @include cartouche-addon(#30b0d5);
  }

  &.orange {
    @include cartouche-addon(#C69951);
  }

  &.dark {
    @include cartouche-addon(#1F180D);
  }
  &.red {
    @include cartouche-addon(#DD423E);
  }
  &.green {
    @include cartouche-addon(#499D1F);
  }

  @for $i from 1 through length($colors){
    &.#{nth($colorsName,$i)} {
      @include cartouche-addon(nth($colors, $i));
    }
  }

  &.valo,&.purple {
    @include cartouche-addon(#853F89);
  }

  @for $i from 1 through length($sizes){
    &.#{nth($sizes,$i)} {
      font-size: .75em + ( .25em * ($i - 1));
    }
  }
}
