@function ultralight($color){
  @return lighten($color, 42%);
}
@function light($color){
  @return lighten($color, 33%);
}
@function dark($color){
  @return darken($color, 25%);
}
@function hard($color){
  @return saturate($color, 25%);
}
@function grey($color){
  @return desaturate($color, 25%);
}

@for $i from 1 through length($colors){
  .bg-#{nth($colorsName,$i)}, .bg-#{nth($colorsName,$i)}-standard {
    background-color: nth($colors, $i);
  }
  .bg-#{nth($colorsName,$i)}-grey {
    background-color: grey(nth($colors, $i));
  }
  .bg-#{nth($colorsName,$i)}-ultralight {
    background-color: ultralight(nth($colors, $i));
  }
  .bg-#{nth($colorsName,$i)}-light {
    background-color: lighten(nth($colors, $i), 33%);
  }
  .bg-#{nth($colorsName,$i)}-dark {
    background-color: darken(nth($colors, $i), 25%);
    color: lighten(nth($colors, $i), 40%);
  }
  .bg-#{nth($colorsName,$i)}-hard {
    background-color: saturate(nth($colors, $i), 25%);
  }
}
