
[class^="icon-"], [class*=" icon-"] {
  &.inverse {
    &:before {
      display: inline-block;
      padding: .25em;
      width: 1.5em;
      @include border-radius(1em);
      background: black;
      color: white;
    }
    &.green:before {
      background: $colorGreen;
    }
    &.blue:before {
      background: $colorBlue;
    }
    &.orange:before {
      background: $colorOrange;
    }
    &.purple:before {
      background: $colorPurple;
    }
    &.red:before {
      background: $colorRed;
    }
  }
}
