
.text-light {
  font-weight: 100;
  opacity: .8;
}

$colorSelect:           lighten($colorBlue, 30%);
.selectable {
  &.selected{
    background-color: $colorSelect;
  }
}

.openable {
  .openable-content {
    display: none;
  }
  .handler {
    cursor: pointer;
  }
  .icon-openable{
    &:before {
      content: '\e85f';
    }
  }

  &.open {
      .openable-content { display: block; }
      .icon-openable:before {
        content: '\e860';
      }
  }
}
